<p-dialog
  [visible]="visible()"
  (visibleChange)="onVisibleChange($event)"
  [modal]="true"
  [styleClass]="dialogStyleClass()"
  [maximizable]="maximizable()"
  maximizeIcon="pi pi-expand"
  minimizeIcon="pi pi-contract"
>
  <ng-template pTemplate="header">
      @if (title()) {
        <h2 class="mg-section__title m-0">
          {{ title() }}
        </h2>
      }

      @if (subtitle()) {
        <p class="m-0 mt-sm">
          {{ subtitle() }}
        </p>
      }
  </ng-template>

  <app-rich-content [content]="resolvedContent()" />

  <ng-template pTemplate="footer">
    <div class="mt-md">
      <p-button
        [label]="resolvedCloseLabel()"
        severity="secondary"
        [outlined]="true"
        (click)="close()"
      />
    </div>
  </ng-template>
</p-dialog>