.image__preview {
  width: 12rem;
  aspect-ratio: 1;
  overflow: hidden;
  border-radius: 50%;
  border: 1px solid var(--mg-form-border);
  background: var(--mg-form-bg);
}

.image__preview-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}