<nav class="mg-navbar w-100 shadow-soft">
  <div class="h-100 flex-row-between-center px-md">
    <a routerLink="/" aria-label="Strona glowna">
      <img
        [ngSrc]="brandLogoSrc()"
        width="135"
        height="50"
        alt="Mistrzowie Gry"
        decoding="async"
        class="mg-navbar__logo ml-sm"
      />
    </a>

    <ul class="m-0 p-0 flex-row-center-center gap-xs hide-down-md">
      @for (item of menu(); track trackByLabelKey($index, item)) {
        <li class="li--unset flex-row-start-center">
          @if (!item.children?.length) {
            <a
              class="mg-navbar__link flex-row-start-center px-sm"
              [routerLink]="item.path"
            >
              {{ item.label }}
            </a>
          } @else {
            <button
              type="button"
              class="mg-navbar__link flex-row-start-center px-sm"
              (click)="openDropdown($event, item)"
              aria-haspopup="true"
              [attr.aria-expanded]="
                activeDropdown()?.labelKey === item.labelKey
              "
            >
              <span>{{ item.label }}</span>
              <span
                class="mg-navbar__caret flex-row-start-center ml-xs"
                aria-hidden="true"
              >
                <i class="pi pi-show-down"></i>
              </span>
            </button>
          }
        </li>
      }
    </ul>

    <div class="flex-row-start-center gap-sm">
      <div class="hide-down-md">
        <app-theme-switch></app-theme-switch>
      </div>

      <div class="flex-row-start-center gap-xs pl-sm">
        @if (isAuthenticated()) {
          <button
            type="button"
            class="mg-icon-btn"
            aria-label="Profil"
            (click)="openUserMenu($event)"
            aria-haspopup="true"
          >
            <i class="pi pi-overlord"></i>
          </button>
        } @else {
          <button
            type="button"
            class="mg-icon-btn"
            aria-label="Profil"
            (click)="showOutOfOrderPopup($event)"
          >
            <i class="pi pi-overlord"></i>
          </button>
        }

        <button
          type="button"
          class="mg-icon-btn"
          aria-label="Koszyk"
          (click)="showOutOfOrderPopup($event)"
        >
          <i class="pi pi-cash"></i>
        </button>
      </div>

      <button
        type="button"
        class="mg-icon-btn show-down-md"
        (click)="openMobile()"
        [attr.aria-label]="i18n.accessibility().openMenu"
      >
        <i class="pi pi-d20"></i>
      </button>
    </div>
  </div>
</nav>

<p-popover #navPopover styleClass="mg-popover" (onHide)="closeDropdown()">
  <ul class="m-0 p-sm flex-col-start-stretch gap-xs">
    @for (child of activeChildren(); track trackByLabelKey($index, child)) {
      <li class="li--unset">
        <a
          class="mg-popover-menu__link py-xs"
          [routerLink]="child.path"
          (click)="closeDropdown()"
          [target]="child.target"
          [rel]="child.target === '_blank' ? 'noopener noreferrer' : null"
        >
          {{ child.label }}
        </a>
      </li>
    }
  </ul>
</p-popover>

<p-popover #userPopover styleClass="mg-popover" (onHide)="closeUserMenu()">
  @if (isUserMenuLoading()) {
    <div class="p-sm">{{ i18n.status().loading }}</div>
  }

  <ng-container #userMenuHost />
</p-popover>

<p-drawer
  [(visible)]="mobileOpen"
  position="right"
  styleClass="mg-drawer"
  (onHide)="closeMobile()"
  [closable]="false"
>
  <ng-template #headless>
    <div class="m-sm">
      <div
        class="flex-row-between-center row-gap-sm col-gap-sm flex-wrap pb-sm mb-sm mg-mobile-drawer__head"
      >
        <div class="mg-mobile-drawer__title">Menu</div>

        <app-theme-switch></app-theme-switch>

        <button
          type="button"
          class="mg-icon-btn mg-icon-btn--flat flex-row-center-center"
          (click)="closeMobile()"
          [attr.aria-label]="i18n.accessibility().closeMenu"
        >
          <i class="pi pi-times"></i>
        </button>
      </div>

      <ul class="m-0 p-0 flex-col-start-stretch gap-md">
        @for (item of menu(); track trackByLabelKey($index, item)) {
          <li class="li--unset">
            @if (!item.children?.length) {
              <a
                class="mg-mobile-menu__link py-sm"
                [routerLink]="item.path"
                (click)="onMobileNavigate()"
              >
                {{ item.label }}
              </a>
            } @else {
              <div class="mg-mobile-menu__group py-xs">
                {{ item.label }}
              </div>

              <ul class="m-0 mt-xs pl-md flex-col-start-stretch gap-xs">
                @for (child of item.children; track trackByLabelKey($index, child)) {
                  <li class="li--unset">
                    <a
                      class="mg-mobile-menu__link py-sm"
                      [routerLink]="child.path"
                      (click)="onMobileNavigate()"
                    >
                      {{ child.label }}
                    </a>
                  </li>
                }
              </ul>
            }
          </li>
        }
      </ul>
    </div>
  </ng-template>
</p-drawer>
