<nav class="mg-navbar">
  <div class="mg-navbar__inner flex-row-between-center">
    <a routerLink="/" class="mg-navbar__brand" aria-label="Strona główna">
      <img
        [ngSrc]="brandLogoSrc()"
        width="135"
        height="50"
        alt="Mistrzowie Gry"
        class="mg-navbar__logo"
        priority
      />
    </a>

    <ul class="mg-navbar__menu">
      @for (item of menu(); track trackByLabelKey($index, item)) {
        <li class="mg-navbar__item li--unset">
          @if (!item.children?.length) {
            <a class="mg-navbar__link" [routerLink]="item.path">
              {{ item.label }}
            </a>
          } @else {
            <button
              type="button"
              class="mg-navbar__link mg-navbar__link--button"
              (click)="openDropdown($event, item)"
              aria-haspopup="true"
              [attr.aria-expanded]="activeDropdown()?.labelKey === item.labelKey"
            >
              <span class="mg-navbar__link-label">{{ item.label }}</span>
              <span class="mg-navbar__caret" aria-hidden="true">▾</span>
            </button>
          }
        </li>
      }
    </ul>

    <div class="mg-navbar__actions flex-row-start-center">
      <app-theme-switch class="mg-navbar__theme"></app-theme-switch>

      <div class="mg-navbar__slots flex-row-start-center">
        <button
          type="button"
          class="mg-icon-btn"
          aria-label="Profil (placeholder)"
        >
          <i class="pi pi-overlord"></i>
        </button>

        <button
          type="button"
          class="mg-icon-btn"
          aria-label="Koszyk (placeholder)"
        >
          <i class="pi pi-cash"></i>
        </button>
      </div>

      <button
        type="button"
        class="mg-icon-btn mg-navbar__burger"
        (click)="openMobile()"
        [attr.aria-label]="i18n.accessibility().openMenu"
      >
        <i class="pi pi-d20"></i>
      </button>
    </div>
  </div>
</nav>

<p-popover #navPopover styleClass="mg-popover" (onHide)="closeDropdown()">
  <ul class="mg-popover-menu">
    @for (child of activeChildren(); track trackByLabelKey($index, child)) {
      <li class="mg-popover-menu__item">
        <a
          class="mg-popover-menu__link"
          [routerLink]="child.path"
          (click)="closeDropdown()"
          [target]="child.target"
          [rel]="child.target === '_blank' ? 'noopener noreferrer' : null"
        >
          {{ child.label }}
        </a>
      </li>
    }
  </ul>
</p-popover>

<p-drawer
  [(visible)]="mobileOpen"
  position="right"
  styleClass="mg-drawer"
  (onHide)="closeMobile()"
  [closable]="false"
>
  <ng-template #headless>
    <div class="mg-mobile-drawer m-sm">
      <div class="mg-mobile-drawer__head flex-row-between-center">
        <div class="mg-mobile-drawer__title">Menu</div>

        <app-theme-switch class="mg-mobile-theme-switch"></app-theme-switch>

        <button
          type="button"
          class="mg-icon-btn mg-icon-btn--flat"
          (click)="closeMobile()"
          [attr.aria-label]="i18n.accessibility().closeMenu"
        >
          <i class="pi pi-times"></i>
        </button>
      </div>

      <ul class="mg-mobile-menu">
        @for (item of menu(); track trackByLabelKey($index, item)) {
          <li class="mg-mobile-menu__item">
            @if (!item.children?.length) {
              <a
                class="mg-mobile-menu__link"
                [routerLink]="item.path"
                (click)="onMobileNavigate()"
              >
                {{ item.label }}
              </a>
            } @else {
              <div class="mg-mobile-menu__group">{{ item.label }}</div>

              <ul class="mg-mobile-menu__sub">
                @for (child of item.children; track trackByLabelKey($index, child)) {
                  <li class="mg-mobile-menu__sub-item">
                    <a
                      class="mg-mobile-menu__link"
                      [routerLink]="child.path"
                      (click)="onMobileNavigate()"
                    >
                      {{ child.label }}
                    </a>
                  </li>
                }
              </ul>
            }
          </li>
        }
      </ul>
    </div>
  </ng-template>
</p-drawer>