<header class="mg-section__header w-100 m-sm">
  <h2 class="mg-section__title mg-section__title--md">
    {{ isRegisterMode() ? i18n.title().register : i18n.title().edit }}
  </h2>
</header>

<form
  [formGroup]="form"
  (ngSubmit)="onSubmit()"
  novalidate
  class="flex-col-start-center w-100 gap-sm"
>
  @if (isRegisterMode()) {
    <div class="w-80 w-100-xs">
      <p-iftalabel class="w-100">
        <input
          pInputText
          class="w-100"
          id="email"
          name="email"
          formControlName="email"
          type="email"
          autocomplete="email"
          autocapitalize="none"
          spellcheck="false"
        />
        <label for="email">{{ i18n.form().emailLabel }}</label>
      </p-iftalabel>

      @if (showEmailError()) {
        <small>{{ i18n.commonForm().invalidEmail }}</small>
      }
    </div>

    <div class="w-80 w-100-xs">
      <p-iftalabel class="w-100">
        <p-password
          styleClass="w-100"
          inputStyleClass="w-100"
          inputId="login-password"
          formControlName="password"
          [feedback]="false"
          [toggleMask]="true"
          autocomplete="new-password"
        >
          <ng-template #showicon>
            <i class="pi pi-horus p-password-toggle-mask-icon"></i>
          </ng-template>

          <ng-template #hideicon>
            <i class="pi pi-closed-eye p-password-toggle-mask-icon"></i>
          </ng-template>
        </p-password>

        <label for="login-password">{{ i18n.form().passwordLabel }}</label>
      </p-iftalabel>

      @if (showPasswordError()) {
        <small>{{ i18n.commonForm().minLength.replace('{{min}}', '8') }}</small>
      }
    </div>
  } @else {
    <div class="w-80 w-100-xs px-sm">
      <div>{{ i18n.form().emailLabel }}</div>
      <div class="w-100 flex-row-start-center">
        {{ displayEmail() }}
      </div>
    </div>
  }

  <div class="w-80 w-100-xs">
    <p-iftalabel class="w-100">
      <input
        pInputText
        class="w-100"
        id="firstName"
        name="given-name"
        formControlName="firstName"
        autocomplete="given-name"
      />
      <label for="firstName">{{ i18n.form().firstNameLabel }}</label>
    </p-iftalabel>
  </div>

  <div class="w-80 w-100-xs">
    <p-iftalabel class="w-100">
      <input
        pInputText
        class="w-100"
        id="nickname"
        name="nickname"
        formControlName="nickname"
        autocomplete="nickname"
      />
      <label for="nickname">{{ i18n.form().nicknameLabel }}</label>
    </p-iftalabel>
  </div>

  <div class="w-80 w-100-xs flex-row-start-center gap-md">
    <p-toggleswitch
      inputId="useNickname"
      formControlName="useNickname"
    />
    <label for="useNickname" class="w-70">
      {{ i18n.form().useNicknameLabel }}
    </label>
  </div>

  @if (showDisplayNameRequiredError()) {
    <div class="mt-xs w-80 w-100-xs">
      <small>{{ i18n.errors().displayNameRequired }}</small>
    </div>
  }

  @if (showDisplayPreferenceError()) {
    <div class="mt-xs w-80 w-100-xs">
      <small>{{ i18n.errors().displayPreference }}</small>
    </div>
  }

  @if (showExtendedFields()) {
    <div class="w-80 w-100-xs">
      <p-iftalabel class="w-100">
        <input
          pInputText
          class="w-100"
          id="phoneNumber"
          name="tel"
          formControlName="phoneNumber"
          type="tel"
          autocomplete="tel"
        />
        <label for="phoneNumber">{{ i18n.form().phoneNumberLabel }}</label>
      </p-iftalabel>
    </div>

    <div class="w-80 w-100-xs">
      <p-iftalabel class="w-100">
        <input
          pInputText
          class="w-100"
          id="city"
          name="address-level2"
          formControlName="city"
          autocomplete="address-level2"
        />
        <label for="city">{{ i18n.form().cityLabel }}</label>
      </p-iftalabel>
    </div>

    <div class="w-80 w-100-xs">
      <p-iftalabel class="w-100">
        <input
          pInputText
          class="w-100"
          id="street"
          name="address-line1"
          formControlName="street"
          autocomplete="address-line1"
        />
        <label for="street">{{ i18n.form().streetLabel }}</label>
      </p-iftalabel>
    </div>

    <div class="w-80 w-100-xs">
      <p-iftalabel class="w-100">
        <input
          pInputText
          class="w-100"
          id="houseNumber"
          name="address-line2"
          formControlName="houseNumber"
          autocomplete="address-line2"
        />
        <label for="houseNumber">{{ i18n.form().houseNumberLabel }}</label>
      </p-iftalabel>
    </div>

    <div class="w-80 w-100-xs">
      <p-iftalabel class="w-100">
        <input
          pInputText
          class="w-100"
          id="apartmentNumber"
          name="address-line3"
          formControlName="apartmentNumber"
          autocomplete="address-line3"
        />
        <label for="apartmentNumber">
          {{ i18n.form().apartmentNumberLabel }}
        </label>
      </p-iftalabel>
    </div>

    <div class="w-80 w-100-xs">
      <p-iftalabel class="w-100">
        <input
          pInputText
          class="w-100"
          id="postalCode"
          name="postal-code"
          formControlName="postalCode"
          autocomplete="postal-code"
        />
        <label for="postalCode">{{ i18n.form().postalCodeLabel }}</label>
      </p-iftalabel>
    </div>

    <div class="w-80 w-100-xs">
      <p-iftalabel class="w-100">
        <p-inputnumber
          class="w-100"
          inputId="age"
          formControlName="age"
          [min]="0"
          [max]="120"
        />
        <label for="age">{{ i18n.form().ageLabel }}</label>
      </p-iftalabel>
    </div>

    <div class="w-80 w-100-xs">
      <p-iftalabel class="w-100">
        <textarea
          pTextarea
          class="w-100"
          id="shortDescription"
          name="shortDescription"
          formControlName="shortDescription"
          rows="3"
          autocomplete="off"
        ></textarea>
        <label for="shortDescription">
          {{ i18n.form().shortDescriptionLabel }}
        </label>
      </p-iftalabel>

      @if (showShortDescriptionError()) {
        <small>{{ i18n.commonForm().maxLength.replace('{{max}}', '150') }}</small>
      }
    </div>

    <div class="w-80 w-100-xs">
      <p-iftalabel class="w-100">
        <textarea
          pTextarea
          class="w-100"
          id="longDescription"
          name="longDescription"
          formControlName="longDescription"
          rows="4"
          autocomplete="off"
        ></textarea>
        <label for="longDescription">
          {{ i18n.form().longDescriptionLabel }}
        </label>
      </p-iftalabel>

      @if (showLongDescriptionError()) {
        <small>{{ i18n.commonForm().maxLength.replace('{{max}}', '255') }}</small>
      }
    </div>

    <div class="w-80 w-100-xs">
      <p-iftalabel class="w-100">
        <textarea
          pTextarea
          class="w-100"
          id="extendedDescription"
          name="extendedDescription"
          formControlName="extendedDescription"
          rows="6"
          autocomplete="off"
        ></textarea>
        <label for="extendedDescription">
          {{ i18n.form().extendedDescriptionLabel }}
        </label>
      </p-iftalabel>
    </div>
  }

  @if (isRegisterMode()) {
    <div class="w-100 flex-row-around-center flex-col-center-center-sm gap-sm">
      <p-button
        severity="success"
        [label]="i18n.actions().registerLabel"
        type="submit"
        loadingIcon="pi pi-d20"
        [icon]="'pi pi-scroll-quill'"
      />

      <p-button
        severity="warn"
        type="button"
        [label]="
          isExpanded() ? i18n.commonCta().viewLess : i18n.commonCta().viewAll
        "
        [icon]="isExpanded() ? 'pi pi-angle-up' : 'pi pi-angle-down'"
        (onClick)="toggleExpanded()"
      />
    </div>
  } @else {
    <div class="w-100 flex-row-center-center">
      <p-button
        severity="success"
        [label]="i18n.actions().updateLabel"
        type="submit"
        loadingIcon="pi pi-d20"
        [icon]="'pi pi-scroll-quill'"
      />
    </div>
  }
</form>