@use "../abstracts/mixins" as m;

$widths: (10, 20, 25, 30, 40, 50, 60, 70, 75, 80, 90, 100);
$width-breakpoints: ("xl", "lg", "md", "sm", "xs");

/* bazowe */
@each $w in $widths {
  .w-#{$w} {
    width: $w * 1% !important;
  }
}

.w-auto {
  width: auto !important;
}

/* responsive: down(xl|lg|md|sm|xs) */
@each $bp in $width-breakpoints {
  @include m.down($bp) {
    @each $w in $widths {
      .w-#{$w}-#{$bp} {
        width: $w * 1% !important;
      }
    }

    .w-auto-#{$bp} {
      width: auto !important;
    }
  }
}