@let data = section();
@let pricingHeaders = i18n.pricingHeaders();

<div class="mg-card mb-lg">
  @if (data.title) {
    <h2 class="mg-section__title mg-section__title--sm">
      {{ data.title }}
    </h2>
  }

  @if (data.subtitle) {
    <p
      class="mg-section__subtitle mg-section__subtitle--no-margin mg-section__subtitle--full mb-md"
    >
      {{ data.subtitle }}
    </p>
  }

  <p-table
    [value]="data.items"
    class="w-100"
    tableStyleClass="mg-responsive-table"
  >
    <ng-template #header>
      <tr class="hide-down-sm">
        <th scope="col" class="small-caps w-20">
          {{ pricingHeaders.variant }}
        </th>
        <th scope="col" class="small-caps w-20">
          {{ pricingHeaders.price }}
        </th>
        <th scope="col" class="small-caps">
          {{ pricingHeaders.description }}
        </th>
      </tr>
    </ng-template>

    <ng-template #body let-item>
      <tr class="mg-responsive-table__row">
        <th scope="row" class="mg-responsive-table__row-heading">
          {{ item.title }}
        </th>
        <td class="mg-responsive-table__cell">
          <span class="mg-responsive-table__label small-caps font-bold">
            {{ pricingHeaders.price }}
          </span>
          <div class="mg-responsive-table__value">
            {{ formatPricing(item.pricing) }}
          </div>
        </td>
        <td class="mg-responsive-table__cell">
          <span class="mg-responsive-table__label small-caps font-bold">
            {{ pricingHeaders.description }}
          </span>
          <div class="mg-responsive-table__value">
            <app-expandable-text [text]="item.lead" />
          </div>
        </td>
      </tr>
    </ng-template>
  </p-table>

  @if (pricingFootnote()) {
    <p class="mg-section__subtitle mg-section__subtitle--no-margin mt-md">
      {{ pricingFootnote() }}
    </p>
  }
</div>
