@let data = section();

<div class="mb-lg">
  @if (data.title) {
    <h2 class="mg-section__title mg-section__title--sm">
      {{ data.title }}
    </h2>
  }

  @if (data.subtitle) {
    <p
      class="mg-section__subtitle mg-section__subtitle--no-margin mg-section__subtitle--full"
    >
      {{ data.subtitle }}
    </p>
  }

  <app-offer-item-cards [items]="data.items" />

  @if (pricingFootnote()) {
    <p class="mg-section__subtitle mg-section__subtitle--no-margin mt-md">
      {{ pricingFootnote() }}
    </p>
  }
</div>
