@let data = section();
@let pricingHeaders = i18n.pricingHeaders();

<div class="mg-card mb-lg">
  @if (data.title) {
    <h2 class="mg-section__title mg-section__title--sm">
      {{ data.title }}
    </h2>
  }

  @if (data.subtitle) {
    <p
      class="mg-section__subtitle mg-section__subtitle--no-margin mg-section__subtitle--full mb-md"
    >
      {{ data.subtitle }}
    </p>
  }

  <div class="w-100 overflow-x-auto">
    <p-table
      [value]="data.items"
      class="w-100 min-w-500"
    >
      <ng-template #header>
        <tr>
          <th scope="col" class="small-caps w-20">
            {{ pricingHeaders.variant }}
          </th>
          <th scope="col" class="small-caps w-20">
            {{ pricingHeaders.price }}
          </th>
          <th scope="col" class="small-caps">
            {{ pricingHeaders.description }}
          </th>
        </tr>
      </ng-template>

      <ng-template #body let-item>
        <tr>
          <td>{{ item.title }}</td>
          <td>{{ formatPricing(item.pricing) }}</td>
          <td><app-expandable-text [text]="item.lead" /></td>
        </tr>
      </ng-template>
    </p-table>
  </div>

  @if (pricingFootnote()) {
    <p class="mg-section__subtitle mg-section__subtitle--no-margin mt-md">
      {{ pricingFootnote() }}
    </p>
  }
</div>
