<p-dialog
  [visible]="!!preview()"
  [modal]="true"
  [dismissableMask]="true"
  [draggable]="false"
  [resizable]="false"
  [closable]="true"
  appendTo="body"
  [styleClass]="'mg-dialog mg-dialog--xl'"
  (visibleChange)="close()"
>
  @if (preview(); as activePreview) {
    <ng-template pTemplate="header">
      <div class="w-100 flex-row-between-center gap-sm">
        <h2 class="mg-section__title mg-section__title--md m-0">
          {{ activePreview.title }}
        </h2>

        <div class="flex-row-start-center gap-sm" >
          <span class="tag-badge tag-badge--muted">
            {{ pageCount() || 1 }}
          </span>
        </div>
      </div>
    </ng-template>

    <div class="position-relative w-100 max-h-800 overflow-auto">
      @if (hasError()) {
        <div class="w-100 h-px-400 flex-col-center-center gap-sm text-center">
          <i class="pi pi-file-pdf text-5xl"></i>
          <span>{{ activePreview.title }}</span>
        </div>
      } @else {
        <div #pages class="pdf-viewer-dialog__pages w-100"></div>

        @if (isLoading()) {
          <div class="pdf-viewer-dialog__overlay position-absolute flex-col-center-center gap-xs">
            <i class="pi pi-d20 mg-spin-cw text-2xl"></i>
          </div>
        }
      }
    </div>
  }
</p-dialog>
