/* =========================================================
   MEDIA ELEMENTS
   ========================================================= */

img,
svg,
video,
canvas {
  display: block;
  max-width: 100%;
  height: auto;
}
