<section class="mg-section" [attr.aria-label]="header().title">
  <div class="mg-container">
    <header class="mg-section__header">
      <h2 class="mg-section__title">{{ header().title }}</h2>
      <p class="mg-section__subtitle">{{ header().subtitle }}</p>
    </header>

    <div class="mg-programs__grid">
      @for (p of programs(); track trackById($index, p)) {
        <article class="mg-card flex-col-between-start h-100">
          <div>
            <h3 class="mg-section__title mg-section__title--sm">
              {{ p.title }}
            </h3>

            <p class="mg-section__subtitle mg-section__subtitle--no-margin">
              {{ p.intro }}
            </p>
          </div>

          <ul>
            @for (b of p.bullets; track trackByBullet($index, b)) {
              <li>{{ b }}</li>
            }
          </ul>

          <div class="align-self-end">
            <p-button
              [label]="p.ctaLabel"
              severity="warn"
              iconPos="right"
              size="small"
              [routerLink]="p.ctaPath"
            />
          </div>
        </article>
      }
    </div>
  </div>
</section>
