<header class="flex-col-start-center min-w-200">
  <div class="mg-section__title mg-section__title--sm m-0">
    {{ i18n.userMenu().greeting }} {{ usernameDisplay() }}
  </div>
  <p-divider />

  @for (section of menuSections(); track section.id) {
    <div class="flex-col-start-start w-100">
      <div class="small-caps align-self-center">
        {{ section.title }}
      </div>

      <ul class="m-0 p-0 flex-col-start-stretch gap-xs w-100">
        @for (item of section.items; track item.id) {
          <li class="li--unset">
            @if (!isActionItem(item)) {
              <a
                class="mg-popover-menu__link"
                [routerLink]="item.path"
                (click)="onNavigate()"
              >
                {{ item.label }}
              </a>
            }
          </li>
        }
      </ul>
      <p-divider />
    </div>
  }
  <p-button type="button" severity="danger" size="small" (onClick)="logout()">{{
    logoutLabel()
  }}</p-button>
</header>
