@use "abstracts/mixins" as m;

.session-details__image {
  width: 12rem;
  float: left;
  margin-right: 1rem;
  margin-bottom: 0.75rem;
}

@include m.down(sm) {
  .session-details__image {
    float: none;
    display: block;
    margin-right: auto;
    margin-bottom: 0.75rem;
    margin-left: auto;
  }
}
