@if (presentation(); as data) {
  @switch (data.type) {
    @case ('text') {
      <span>{{ data.value }}</span>
    }
    @case ('rich_content') {
      <app-expandable-text
        [richContent]="data.value"
        [richContentSectionSpacing]="richContentSectionSpacing()"
      />
    }
    @case ('price') {
      <app-price-value
        [price]="data.value"
        [locale]="locale()"
        [accent]="priceAccent()"
      />
    }
    @case ('prices') {
      <div class="flex-col-start-stretch gap-sm w-100">
        @for (entry of data.value; track $index) {
          <div class="flex-col-start-stretch gap-xs w-100">
            @if (entry.label) {
              <span class="small-caps">{{ entry.label }}</span>
            }
            <app-price-value
              [price]="entry.price"
              [locale]="locale()"
              [accent]="priceAccent()"
            />
          </div>
        }
      </div>
    }
  }
} @else {
  <span>{{ i18n.productValues().notAvailable }}</span>
}
