<p-table
  [value]="block().presentation.sections"
  class="w-100"
  tableStyleClass="mg-responsive-table"
>
  <ng-template #header>
    <tr class="hide-down-sm">
      <th scope="col"></th>
      @for (product of products(); track product.id) {
        <th scope="col">{{ product.name }}</th>
      }
    </tr>
  </ng-template>

  <ng-template #body let-section>
    @if (section.heading) {
      <tr class="mg-responsive-table__group-row">
        <th
          scope="rowgroup"
          class="mg-responsive-table__row-heading mg-responsive-table__group-heading small-caps"
          [attr.colspan]="products().length + 1"
        >
          {{ section.heading }}
        </th>
      </tr>
    }

    @for (row of section.rows; track row.id) {
      <tr class="mg-responsive-table__row">
        <th
          scope="row"
          class="mg-responsive-table__row-heading small-caps"
        >
          {{ row.label }}
        </th>
        @for (product of products(); track product.id) {
          <td class="mg-responsive-table__cell">
            <span class="mg-responsive-table__label small-caps font-bold">
              {{ product.name }}
            </span>
            <div class="mg-responsive-table__value">
              <app-commercial-product-comparison-value
                [product]="product"
                [fields]="fieldsForRow(row)"
                [locale]="locale()"
              />
            </div>
          </td>
        }
      </tr>
    }
  </ng-template>
</p-table>
