<p-table
  [value]="block().rows"
  class="w-100"
  tableStyleClass="mg-responsive-table"
>
  <ng-template #header>
    <tr class="hide-down-sm">
      @for (column of block().columns; track column.id) {
        <th scope="col">
          {{ column.label }}
        </th>
      }
    </tr>
  </ng-template>

  <ng-template #body let-row>
    <tr class="mg-responsive-table__row">
      @for (column of block().columns; track column.id) {
        <td class="mg-responsive-table__cell">
          <span class="mg-responsive-table__label small-caps font-bold">
            {{ column.label }}
          </span>
          <div class="mg-responsive-table__value">
            <app-rich-content [content]="cellContent(row, column.id)" />
          </div>
        </td>
      }
    </tr>
  </ng-template>
</p-table>
