<div class="flex-col-start-stretch gap-sm w-100">
  @if (isImageMode() && previewUrl(); as previewUrl) {
    <div class="flex-col-center-center gap-sm w-100">
      <div
        [class]="
          'image__preview image__preview--' +
          resolvedOptions().previewShape +
          ' w-100 max-w-300'
        "
      >
        <p-image
          [src]="previewUrl"
          [alt]="resolvedTexts().previewAlt"
          [imageClass]="
            resolvedOptions().previewShape === 'circle'
              ? 'image__preview-image image__preview-image--circle'
              : 'image__preview-image'
          "
          [preview]="true"
        />
      </div>
    </div>
  }

  <div class="flex-col-start-stretch gap-xs">
    <p-fileupload
      #uploader
      name="file-upload"
      mode="advanced"
      [files]="isImageMode() ? selected().displayedFiles : []"
      [customUpload]="true"
      [auto]="false"
      [multiple]="resolvedOptions().multiple ?? false"
      [showUploadButton]="false"
      [showCancelButton]="false"
      [fileLimit]="isImageMode() ? 1 : undefined"
      [maxFileSize]="resolvedOptions().maxFileSize"
      [accept]="resolvedOptions().accept"
      [disabled]="resolvedOptions().disabled"
      (onSelect)="onSelect($event)"
      (onRemove)="onRemove($event)"
      (onClear)="onClear()"
    >
      <ng-template
        #header
        let-files
        let-chooseCallback="chooseCallback"
        let-clearCallback="clearCallback"
      >
        <div class="flex-row-center-center gap-sm w-100">
          <div class="flex-row-center-center gap-sm">
            <p-button
              type="button"
              severity="secondary"
              [label]="resolvedTexts().chooseLabel"
              [icon]="resolvedOptions().chooseIcon"
              [outlined]="true"
              [disabled]="resolvedOptions().disabled"
              (onClick)="chooseCallback()"
            />

            @if (isImageMode() && files?.length) {
              <p-button
                type="button"
                styleClass="arcane"
                [label]="resolvedTexts().clearLabel"
                icon="pi pi-vacuum-cleaner"
                [outlined]="true"
                [disabled]="resolvedOptions().disabled"
                (onClick)="clearCallback()"
              />
            }
          </div>
        </div>
      </ng-template>

      <ng-template
        #content
        let-files
        let-removeFileCallback="removeFileCallback"
      >
        @if (isImageMode() && files?.length) {
          <div class="flex-col-start-stretch gap-sm pt-sm">
            @for (
              file of files;
              track file.name + "-" + file.size;
              let index = $index
            ) {
              <div class="flex-row-between-center gap-sm w-100">
                <div class="flex-row-start-center gap-sm min-w-0">
                  <span class="tag-badge tag-badge--muted">
                    {{ file.name }}
                  </span>
                </div>

                <p-button
                  type="button"
                  severity="danger"
                  icon="pi pi-times"
                  [rounded]="true"
                  [text]="true"
                  (onClick)="removeFileCallback($event, index)"
                />
              </div>
            }
          </div>
        }
      </ng-template>

      <ng-template #file></ng-template>

      <ng-template #empty>
        <div class="flex-col-center-center gap-xs py-md">
          <i [class]="resolvedOptions().emptyIcon + ' text-4xl'"></i>
          <span>{{ resolvedTexts().dropLabel }}</span>
          <small>{{ resolvedTexts().formatsLabel }}</small>
        </div>
      </ng-template>
    </p-fileupload>
  </div>
</div>

<app-crop-image-dialog
  [visible]="cropVisible()"
  [sourceFile]="pendingFile()"
  [texts]="resolvedTexts()"
  [cropConfig]="resolvedCropConfig()"
  [previewShape]="resolvedOptions().previewShape"
  (cancel)="onCropCancel()"
  (confirm)="onCropConfirm($event)"
/>
