@let data = section();

<section
  class="w-100"
  [attr.id]="data.id"
  [class.mg-card]="data.presentation.surface === 'card'"
  [class.text-left]="data.presentation.textAlign === 'left'"
  [class.text-center]="data.presentation.textAlign === 'center'"
  [class.text-right]="data.presentation.textAlign === 'right'"
>
  <app-commercial-section-header
    [heading]="data.heading"
    [lead]="data.lead"
    [textAlign]="data.presentation.textAlign"
  />

  @for (block of data.blocks; track block.id) {
    <app-commercial-page-block
      [class.mt-lg]="!$first"
      [block]="block"
      [products]="products()"
      [locale]="locale()"
      [pricingFootnote]="pricingFootnote()"
    />
  }
</section>
