@let headers = i18n.pricingHeaders();

<div class="w-100 overflow-x-auto">
  <p-table [value]="items()" class="w-100 min-w-500">
    <ng-template #header>
      <tr>
        <th scope="col" class="small-caps w-20">{{ headers.variant }}</th>
        <th scope="col" class="small-caps w-20">{{ headers.price }}</th>
        <th scope="col" class="small-caps">{{ headers.description }}</th>
      </tr>
    </ng-template>

    <ng-template #body let-item>
      @let pricing = formatPrice(item.price);

      <tr>
        <td>{{ item.title }}</td>
        <td>
          <span>{{ pricing.value }}</span>
          @if (pricing.note) {
            <p class="mg-section__subtitle mg-section__subtitle--no-margin mg-section__subtitle--full">
              {{ pricing.note }}
            </p>
          }
        </td>
        <td>
          @if (item.body) {
            <app-expandable-text [text]="item.body" />
          }

          <app-commercial-item-details
            [capacity]="item.capacity"
            [schedule]="item.schedule"
          />
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
