@let data = block();

@switch (data.type) {
  @case ('rich_text') {
    <app-rich-content [content]="data.content" />
  }
  @case ('buttons') {
    <app-commercial-buttons-block [block]="data" />
  }
  @case ('cards') {
    <app-commercial-cards-block
      [block]="data"
      [locale]="locale()"
      [pricingFootnote]="pricingFootnote()"
    />
  }
  @case ('product_collection') {
    <app-commercial-product-collection
      [block]="data"
      [products]="products()"
      [locale]="locale()"
      [pricingFootnote]="pricingFootnote()"
    />
  }
  @case ('table') {
    <app-commercial-table-block [block]="data" />
  }
  @case ('faq') {
    <app-commercial-faq-block [block]="data" />
  }
}
