<section class="mg-section" [attr.aria-label]="header().title">
  <div class="mg-container">
    <header class="mg-section__header">
      <h2 class="mg-section__title">{{ header().title }}</h2>
      <p class="mg-section__subtitle">{{ header().subtitle }}</p>
    </header>

    <div class="mg-grid mg-grid-2 gap-lg mt-md">
      @for (p of items(); track trackById($index, p)) {
        <div
          pAnimateOnScroll
          enterClass="animate-enter-fade-up animate-duration-800 animate-ease-out animate-fill-both"
          class="mg-card flex-col-between-start h-100"
        >
          <div>
            <h3 class="mg-section__title mg-section__title--sm">
              {{ p.title }}
            </h3>

            <p class="mg-section__subtitle mg-section__subtitle--no-margin">
              {{ p.text }}
            </p>
          </div>

          <div class="align-self-end mt-sm">
            <p-button
              [label]="p.ctaLabel"
              severity="info"
              [icon]="p.icon"
              iconPos="right"
              size="small"
              [routerLink]="p.ctaPath"
            />
          </div>
        </div>
      }
    </div>
  </div>
</section>
