<div class="w-100 overflow-x-auto">
  <p-table [value]="rows()" dataKey="id" class="w-100 min-w-500">
    <ng-template #header>
      <tr>
        <th class="small-caps">{{ i18n.fields().title }}</th>
        <th class="small-caps">{{ i18n.fields().category }}</th>
        <th class="small-caps">{{ i18n.fields().signaturePolicy }}</th>
        <th class="small-caps text-center">{{ i18n.fields().active }}</th>
        <th class="small-caps text-right"></th>
      </tr>
    </ng-template>
    <ng-template #body let-definition>
      <tr>
        <td>
          <div class="flex-col-start-stretch gap-xs">
            <strong>{{ definition.title }}</strong>
            <small>{{ definition.code }}</small>
          </div>
        </td>
        <td>{{ definition.category }}</td>
        <td>{{ definition.signaturePolicy.code }}</td>
        <td class="text-center">
          <span
            [class]="
              definition.isActive
                ? 'tag-badge tag-badge--success'
                : 'tag-badge tag-badge--muted'
            "
          >
            {{
              definition.isActive
                ? i18n.statuses().active
                : i18n.statuses().inactive
            }}
          </span>
        </td>
        <td class="text-right">
          <p-button
            size="small"
            severity="secondary"
            icon="pi pi-pencil"
            [label]="i18n.commonActions().edit"
            [disabled]="disabled()"
            (onClick)="edit.emit(definition)"
          />
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
