<p-dialog
  [visible]="visible()"
  [modal]="true"
  [dismissableMask]="true"
  [draggable]="false"
  [resizable]="false"
  [closable]="true"
  appendTo="body"
  [styleClass]="'mg-dialog mg-dialog--xl'"
  (visibleChange)="onVisibleChange($event)"
>
  @if (session(); as currentSession) {
    <app-session-details
      [session]="currentSession"
      [gmDisplayName]="resolvedGmDisplayName()"
      [canOpenGmProfile]="canOpenGmProfile()"
      [isGmProfileLoading]="isGmProfileLoading()"
      (gmProfileSelect)="openGmProfile()"
    />
  }
  <ng-template pTemplate="header">
    <h2 class="mg-section__title mg-section__title--md m-0">
      {{ header() }}
    </h2>
  </ng-template>
  <ng-template pTemplate="footer">
    <div class="flex-row-end-center">
      <p-button
        [label]="i18n.actions().close"
        severity="secondary"
        [outlined]="true"
        (onClick)="close()"
        class="mt-md"
      />
    </div>
  </ng-template>
</p-dialog>

<app-gm-profile-dialog
  [visible]="isGmDialogVisible()"
  [profile]="selectedProfile()"
  (visibleChange)="onGmDialogVisibleChange($event)"
/>
