<div class="flex-row-end-center flex-wrap gap-xs">
  <p-button
    type="button"
    severity="secondary"
    size="small"
    [text]="true"
    [label]="i18n.editorActions().moveItemUp"
    icon="pi pi-arrow-up"
    [disabled]="index() === 0"
    (onClick)="moveUp.emit()"
  />

  <p-button
    type="button"
    severity="secondary"
    size="small"
    [text]="true"
    [label]="i18n.editorActions().moveItemDown"
    icon="pi pi-arrow-down"
    [disabled]="index() === itemCount() - 1"
    (onClick)="moveDown.emit()"
  />

  <p-button
    type="button"
    severity="danger"
    size="small"
    [text]="true"
    [label]="i18n.editorActions().removeItem"
    icon="pi pi-trash"
    (onClick)="remove.emit()"
  />
</div>
