<div class="mg-grid-2 gap-md w-100">
  <p-iftalabel class="w-100">
    <input
      pInputText
      class="w-100"
      [id]="controlId() + '-heading'"
      [formControl]="heading()"
      autocomplete="off"
    />
    <label [for]="controlId() + '-heading'">
      {{ i18n.sectionBase().heading }}
    </label>
  </p-iftalabel>

  <p-iftalabel class="w-100">
    <textarea
      pTextarea
      class="w-100"
      rows="3"
      [id]="controlId() + '-lead'"
      [formControl]="lead()"
    ></textarea>
    <label [for]="controlId() + '-lead'">
      {{ i18n.sectionBase().lead }}
    </label>
  </p-iftalabel>
</div>
