<section
  class="flex-col-start-stretch gap-md w-100"
  [formGroup]="form()"
>
  <h4 class="mg-section__title mg-section__title--xs m-0">
    {{ i18n.action().sectionTitle }}
  </h4>

  <div class="mg-grid-2 gap-md w-100">
    <div class="w-100">
      <p-iftalabel class="w-100">
        <input
          pInputText
          class="w-100"
          [id]="controlId() + '-label'"
          formControlName="label"
          autocomplete="off"
        />
        <label [for]="controlId() + '-label'">
          {{ i18n.action().label }}
        </label>
      </p-iftalabel>

      @if (form().controls.label.touched && form().controls.label.invalid) {
        <small class="error-text">{{ i18n.commonForm().required }}</small>
      }
    </div>

    <p-iftalabel class="w-100">
      <p-select
        class="w-100"
        inputId="{{ controlId() }}-appearance"
        formControlName="appearance"
        [options]="appearanceOptions()"
        optionLabel="label"
        optionValue="value"
        appendTo="body"
      />
      <label [for]="controlId() + '-appearance'">
        {{ i18n.action().appearance }}
      </label>
    </p-iftalabel>
  </div>

  <div class="w-100">
    <p-iftalabel class="w-100">
      <input
        pInputText
        class="w-100"
        [id]="controlId() + '-route'"
        formControlName="route"
        autocomplete="off"
      />
      <label [for]="controlId() + '-route'">
        {{ i18n.action().route }}
      </label>
    </p-iftalabel>

    @if (
      form().controls.route.touched &&
      form().controls.route.hasError('commercialInternalRoute')
    ) {
      <small class="error-text">{{ i18n.validation().invalidRoute }}</small>
    } @else if (
      form().controls.route.touched && form().controls.route.invalid
    ) {
      <small class="error-text">{{ i18n.commonForm().required }}</small>
    }
  </div>
</section>
