<div class="flex-col-start-stretch gap-md w-100" [formGroup]="form()">
  <p-iftalabel class="w-100">
    <input
      pInputText
      class="w-100"
      [id]="controlId() + '-heading'"
      formControlName="heading"
      autocomplete="off"
    />
    <label [for]="controlId() + '-heading'">{{ i18n.commonLabels().sectionHeading }}</label>
  </p-iftalabel>

  <p-iftalabel class="w-100">
    <textarea
      pTextarea
      class="w-100"
      [id]="controlId() + '-lead'"
      formControlName="lead"
      rows="3"
    ></textarea>
    <label [for]="controlId() + '-lead'">{{ i18n.section().lead }}</label>
  </p-iftalabel>

  <div class="mg-grid-2 gap-md w-100">
    <p-iftalabel class="w-100">
      <p-select
        class="w-100"
        [inputId]="controlId() + '-surface'"
        formControlName="surface"
        [options]="surfaceOptions()"
        optionLabel="label"
        optionValue="value"
        appendTo="body"
      />
      <label [for]="controlId() + '-surface'">{{ i18n.section().surface }}</label>
    </p-iftalabel>

    <p-iftalabel class="w-100">
      <p-select
        class="w-100"
        [inputId]="controlId() + '-text-align'"
        formControlName="textAlign"
        [options]="textAlignOptions()"
        optionLabel="label"
        optionValue="value"
        appendTo="body"
      />
      <label [for]="controlId() + '-text-align'">{{ i18n.section().textAlign }}</label>
    </p-iftalabel>
  </div>

  <app-commercial-blocks-editor
    [blocks]="form().controls.blocks"
    [products]="products()"
    [controlId]="controlId() + '-blocks'"
    [tokens]="tokens()"
    [(activeBlockId)]="activeBlockId"
  />
</div>
