$common: (
  "color-ink": #222222,
  "color-crimson": #750a0c,
  "color-graphite": #2f2f33,
  "color-bronze": #88452e,
  "color-antique": #c9a44c,
  "color-white": #ffffff,
  "color-black": #000000,

  "color-info": #2b7db3,
  "color-danger": #8d0e06,
  "color-success": #6e8f2a,
  "color-arcane": #8e3ac2,

  "color-paper-1": #f4e9cf,
  "color-paper-2": #e5d0a2,
  "color-paper-3": #d8bf8d,
);
