<p-dialog
  [visible]="visible"
  (visibleChange)="onVisibleChange($event)"
  [modal]="modal"
  [dismissableMask]="dismissableMask"
  [closable]="closable"
  [draggable]="false"
  [resizable]="false"
  [styleClass]="styleClass"
  [style]="{ width: width, maxWidth: '95vw' }"
  [breakpoints]="breakpoints"
>
  <ng-template pTemplate="header">
    <div class="mg-info-dialog__header">
      <div class="mg-info-dialog__title">
        {{ title }}
      </div>

      @if (subtitle) {
        <div class="mg-info-dialog__subtitle">
          {{ subtitle }}
        </div>
      }
    </div>
  </ng-template>

  <div class="mg-info-dialog__content">
    @if (body) {
      <p class="mg-section__subtitle mg-section__subtitle--no-margin mg-section__subtitle--full">
        {{ body }}
      </p>
    }

    <ng-content />
  </div>

  @if (showFooter) {
    <ng-template pTemplate="footer">
      <div class="mg-info-dialog__footer">
        <p-button
          [label]="closeLabel"
          severity="secondary"
          [outlined]="true"
          (click)="close()"
        />
      </div>
    </ng-template>
  }
</p-dialog>