

/* ===========================
   THEMES
   =========================== */
@use "themes/themes";

/* ===========================
   BASE
   =========================== */
@use "base/base";

/* ===========================
   LAYOUTS
   =========================== */
@use "layouts/layouts";

/* ===========================
   UTILITIES
   =========================== */
@use "utilities/utilities";

/* ===========================
   COMPONENTS (globalne, jeśli będą)
   =========================== */
// @use "components/buttons";
// @use "components/forms";
// @use "components/nav";

/* ===========================
   VENDORS OVERRIDES
   =========================== */
@use "vendors/primeng";
/* vendors */
@import "primeicons/primeicons.css";

/* =========================================================
   GOOGLE FONTS
   ========================================================= */

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');