/* ===========================
   THEMES
   =========================== */
@use "themes/themes";

/* ===========================
   BASE
   =========================== */
@use "base/base";

/* ===========================
   LAYOUTS
   =========================== */
@use "layouts/layouts";

/* ===========================
   UTILITIES
   =========================== */
@use "utilities/tag-badge-aliases";

/* ===========================
   COMPONENTS (globalne, jeśli będą)
   =========================== */
// @use "components/buttons";
// @use "components/forms";
// @use "components/nav";

/* ===========================
   VENDORS OVERRIDES
   =========================== */
@use "vendors/primeng";